<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/273b87a6-ee63-4513-a088-58bd23b0243a/resourcegroups/Pruebas2/providers/Microsoft.Web/sites/FIMEFavorAPI20211020165151</ResourceId>
    <ResourceGroup>Pruebas2</ResourceGroup>
    <ApiResourceId>/subscriptions/273b87a6-ee63-4513-a088-58bd23b0243a/resourceGroups/Pruebas2/providers/Microsoft.ApiManagement/service/FIMEFavorAPIapi/apis/FIMEFavorAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fimefavorapi20211020165151.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>3d898350-894d-45fe-8c4f-5dfa979e5c33</ProjectGuid>
    <MSDeployServiceURL>fimefavorapi20211020165151.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FIMEFavorAPI20211020165151</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FIMEFavorAPI20211020165151</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>