<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div>
        <img src="/assets/img/FIME-FAVOR.png" width="200" height="200" class="center">
    </div>
    <p></p>
    <div>
    <h3 class="titulo alinear">Bienvenido {{nombre}}</h3>
        <div class="d-grid gap-2 botonmitad">
            <button type="submit" class="btn btn-success btn-lg" routerLink="/inicioVendedor"> <!---->
                <i class="fas fa-money-bill-wave-alt"></i>&nbsp; Vendedor</button>
        </div>
        <p></p>
        <div class="d-grid gap-2 botonmitad">
            <button type="submit" class="btn btn-success btn-lg" routerLink="/mercado"> <!---->
                <i class="fas fa-shopping-cart"></i>&nbsp; Comprador</button>
        </div>
        <p></p>
        <div class="d-grid gap-2 botonmitad">
            <button type="submit" class="btn btn-success btn-lg" routerLink="/inicioRepartidor"> <!-- -->
                <i class="fas fa-truck"></i>&nbsp; Repartidor</button>
        </div>
        <p></p>
        <p class="azul alinear">
            <button (click)="cerrarSesion()" class="btn btn-primary">Cerrar sesión</button>
        </p> 
    </div>
    <footer>
        <img src="/assets/img/pregunta.png" width="65.625" height="35" class="derecha" routerLink="/preguntas">
    </footer>
</body>
