<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2">
            <img src="/assets/img/FIME-FAVOR.png" width="125" height="125" class="left" routerLink="/seleccion">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4">
            <p></p>
            <p></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-3">
            <p></p>
            <img src="/assets/img/user.png" width="70" height="70" routerLink="/seleccion">
        </div>
    </div>
<p></p>

<body>
    <div class="alinear">
        <h1>¿Tienes alguna duda?</h1>
        <h2>Dejanos ayudarte a resolver las dudas que puedas tener</h2>
    </div>
    <ul class="izquierda">
        <li>¿Cómo crear un nuevo producto?
            <p>La manera más sencilla de crear un producto es en el menu de vendedor, el cual te guiará a poder añadir un producto que quieras
                que este a la venta </p>
        </li>
        <li>¿Puedo pedir estando fuera de la facultad?
            <p>Por el momento solo contamos con entregas dentro de FIME, esperamos pronto poder llegar a otras lugares</p>
        </li>
        <li>¿Qué pasa si mi pedido no llega?
            <p>En caso de que tu pedido no llegue tu dinero sera rembolsado</p>
        </li>
        <li>¿Existen descuentos por el buen fin?
            <p>No contamos con descuentos por el buen fin</p>
        </li>
      </ul>
    <div class="alinear">
        <h2>¿Tienes alguna otra duda?</h2>
        <h2>Escribenos al correo: pf@fimefavor.com</h2>
        <h2>¡Muchas gracias por tu apoyo!</h2>
    </div>

    <footer>
        <img src="/assets/img/pregunta.png" width="65.625" height="35" class="derecha" routerLink="/preguntas">
    </footer>
</body>