<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2">
            <img src="/assets/img/FIME-FAVOR.png" width="125" height="125" class="left" routerLink="/seleccion">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4">
            <p></p>
            <p></p>
            <input type="text" id="searchString" name="searchString" [(ngModel)]="searchText" 
            class="form-control" placeholder="Buscar producto">
            <p></p>
            <button class="btn btn-primary alinear" type="button" (click)="search()"> Buscar </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <p></p>
            <img src="/assets/img/user.png" width="70" height="70" routerLink="/seleccion">
        </div>
    </div>
<p></p>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/inicioVendedor">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/productosVendedor">Mis productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addProducto">Añadir producto</a>
        </li>
      </ul>
</div>
<p></p>

<h3>{{header}}</h3>

<div class="row centrar" >
    <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let producto of productos">
        <div class="product">
            <img src={{producto.imagen}} width="125" height="125">
            <div class="title-container">
                <h5>{{producto.nombre}}</h5>
            </div>
            <div class="price">$ {{producto.precio}}</div>
            <div class="model-number"><span class="text-muted">Model Number:</span> {{producto.modelo}}</div>
            <div class="category">{{producto.categoriaNombre}}</div> 
            <a [routerLink]="['/addProducto', producto.id]" class="btn btn-primary btn-cart"><span class="glyphicon glyphicon-shopping-cart"></span>Editar</a>
        </div>
    </div>
</div>

<footer>
    <img src="/assets/img/pregunta.png" width="65.625" height="35" class="derecha" routerLink="/preguntas">
</footer>

</body>
