.pull-right {
    align-content: center;
  }

  .demo-table {
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }

  .mat-column-cuentaId {
    font-size: 20px;
  }

  .mat-column-descripcion {
    font-size: 20px;
  }

  .mat-column-calificacion{
    font-size: 20px;
  }

  .mat-column-cantidad{
    font-size: 20px;
  }

  .mat-column-costoTotal{
    font-size: 20px;
    text-align: center;
  }

  .mat-column-costoUnitario{
    text-align: center;
    font-size: 20px;
  }


  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-description {
    padding: 16px;
  }

  .form-control {
    width: 20%;
  }

  .titulo {
    font-size: 35px;
    font-weight: 500;
}

.derecha {
  margin-left: 95%;
}